.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: .3s;

    &__poster {
        width: 23.4rem;
        height: 34.3rem;
        border-radius: 1rem;
        margin-bottom: 1.2rem;
        cursor: pointer;
    }
    &__title {
        margin-bottom: 1.2rem;
        margin-right: auto;
        flex: 1;
        @include small-laptop {
            margin-right: 0;
        }
        @include tablet {
            text-align: center;
        }
    }
    &:hover {
        transform: scale(1.03);
    }
}

.card-buttons {
    display: flex;
    &__icon {
        padding: 0.9rem 1.2rem;
    }
    &__favorites {
        background-color: transparent;
        border: 1px solid $button-border-color;
        color: $button-text-color;
        border-radius: 0.5rem;
        font-size: 1.8rem;
        cursor: pointer;
        transition: .3s;
    }
    &__favorites--like {
        margin-right: 2rem;
    }
    &__favorites--text {
        padding: 1rem 3.3rem;
    }
    &__favorites:hover {
        background-color: $buttons-bg-color-secondary;
        border-color: $button-border-color-secondary;
    }
}

.item-in-favorites {
    border-color: rgb(244, 218, 196) !important;
    background-color: rgb(244, 218, 196) !important;
}

